<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php"
    colors="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    displayDetailsOnTestsThatTriggerErrors="true"
    beStrictAboutOutputDuringTests="false"
    beStrictAboutChangesToGlobalState="true"
    failOnWarning="true"
    failOnRisky="false"
>

    <testsuites>
        <testsuite name="Podsumer Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

</phpunit>
